{% extends "base.html" %}
{% block content %}

  <h1>Blog Post</h1>

<hr />
    {% if blog|length == 0 %}
    <p>You haven't posted anything</p>
    {% else %}

        <ul>
            {% for blog in blog %}
          <a href='/blog_list?id={{blog.id}}'><h2>{{blog.b_title}}</h2> </a>
          <h3><p>{{blog.body}}</p></h3>
            <div>Author: <a href = '/singleUser?author={[blog.owner.id}}'>{{blog.owner.username}}</a></div>

            {% endfor %}
        </ul>
     {% endif %}


{% endblock %}
